<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.yhdesai.lyrics">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Artist_List" />
        <activity android:name=".Troye_Sivan" />
        <activity android:name=".Justin_Bieber" />
        <activity android:name=".Bars_And_Melody" />
        <activity android:name=".All_Activity" />
        <activity android:name=".bam_keep_smiling" />
        <activity android:name=".bam_hopeful" />
        <activity android:name=".bam_beautiful" />
        <activity android:name=".bam_thousand_years" />
        <activity android:name=".bam_nemo" />
        <activity android:name=".bam_closer" />
        <activity android:name=".bam_it_aint_me" />
        <activity android:name=".bam_shape_of_you" />
        <activity android:name=".bam_live_your_life" />
        <activity android:name=".bam_dont_let_me_down" />
        <activity android:name=".bam_battle_scars" />
        <activity android:name=".bam_one_dance" />
        <activity android:name=".bam_faded" />
        <activity android:name=".bam_7_years" />
        <activity android:name=".bam_hello" />
        <activity android:name=".bam_unforgettable" />
        <activity android:name=".song_lyric_activity"></activity>
    </application>

</manifest>